
<% if @questions.any? %>

  <% @questions.each do |question| %>


  <li>
    <%= question.question_title %>
  </li>

      <% end %>

      <% else %>
        <p>There are no questions.</p>

      <% end %>
